# Build output
/target/
/test-output/
/reports/
/logs/
/screenshots/
/allure-results/

# IDE metadata
/.classpath
/.project
/.settings/

# OS-specific
.DS_Store
Thumbs.db

# Java compiled classes
*.class

